.intro-image {
  width: 100%;
  height: auto;
}

.intro-image-absolute {
  max-width: none;
  margin: 0;
  padding: 0;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
  }
  @include media-breakpoint-up(lg) {
    top: 0;
    left: 0;
    width: 800px;
  }
  @include media-breakpoint-up(xl) {
    top: 0;
    left: 0;
    width: 850px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
